<br>
<br>
<br>
<br>
<br>
<h1>{{employee.username}}</h1>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <img class="card-img-top img-thumbnail" src="{{employee?.photoUrl}}" alt="{{employee?.username}}">
            <div class="card-body">
              <div>
                <strong>Location:</strong>
                <p>{{employee?.city}}, {{employee?.country}}</p>
              </div>

              <div>
                <strong>Last Active:</strong>
              <p>{{employee?.lastActive | date: 'mediumDate' }}</p>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-success w-100">Message</button>
            </div>
          </div>
              
        </div>
        <div class="col-sm-8">   
          <div *ngFor="let patient of patients" class="col-lg-3 col-md-3 col-sm-6">
            <div *ngIf="patient.employeeID === employee.id">
            <app-patient-card [patient]="patient"></app-patient-card>
          </div>
          </div>
      
        </div>
    </div>
</div>
